*
!.gitignore
!LICENSE
!README.adoc
!CHANGELOG.adoc
!antora-registry.md
!package.json
!lib/
!lib/**
!test/
!test/**
!changelog-details/
!changelog-details/**
!/.github/
!/.github/workflows/
!/.github/workflows/encoding-guard.yml
!/.editorconfig
!/.gitattributes
